// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_img_edit {
  width: auto;
  height: 800px;
  background-image: url(edit.jpg);
}

.table_edit {
	margin-left: 10px;
	padding-top: 50px;
}

.th_edit {
	color: white;
}



// レスポンシブ
@media screen and (max-width:1024px) {

.table_edit {
	margin-left: 10px;
	padding-top: 50px;
	width: 400px;
}

}