// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tabnav{
    margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li a{
    display: inline-block;
    background: #ddd; // 未選択のタブ色
    color: #333; // 未選択のタブ文字色
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}
.tabnav li a:hover,
.tabnav li a.active{
    background: #4682b4;
    color: #fff;
}
.tabcontent{
    padding: 20px;
    border: 1px dotted #ccc;
}
